[submodule "app/cli"]
	path = app/cli
	url = https://github.com/duffman/zap.cli.commander.git


[submodule "app/zap-ts-models"]
	path = app/zap-ts-models
	url = https://github.com/duffman/topzap.ts-data-models.git


[submodule "lib/putte-ts"]
	path = lib/putte-ts
	url = https://github.com/duffman/putte-tsnode-lib.git


[submodule "app/services/scaledrone-service.git"]
	path = app/services/scaledrone-service.git
	url = https://github.com/duffman/scaledrone-service.git


[submodule "app/services/zapdrone-service.git"]
	path = app/services/zapdrone-service.git
	url = https://github.com/duffman/zapdrone-service.git
[submodule "lib/dbcore"]
	path = lib/dbcore
	url = https://github.com/duffman/igniter-dbcore.git
[submodule "lib/node-tsutils"]
	path = lib/node-tsutils
	url = https://github.com/duffman/node-tsutils.git
[submodule "lib/topzap.pubsub-lib.git"]
	path = lib/topzap.pubsub-lib.git
	url = https://github.com/duffman/topzap.pubsub-lib.git
